@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJbecmNE.woff2)
        format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJnecmNE.woff2)
        format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrJJfecg.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2)
        format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2)
        format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2)
        format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2)
        format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2)
        format("woff2");
    unicode-range: U+0900-097F, U+1CD0-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC,
        U+A830-A839, U+A8E0-A8FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2)
        format("woff2");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
        U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
        U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #3f4b4d;
}
::-webkit-scrollbar-thumb {
    background-color: #0e8385;
    border-radius: 50rem;
}
::-webkit-scrollbar-track {
    background-color: rgba(#0e8385, 0.05);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
small {
    font-size: 80%;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}

button {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button {
    text-transform: none;
}
button {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled] {
    cursor: default;
}
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.landing-inline-block {
    max-width: 100%;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-bottom: 10px;
}
h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
}
h2 {
    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
}
h6 {
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
}
[type="button"],
[type="reset"],
button {
    border: 0;
    cursor: pointer;
    -webkit-appearance: button;
}

@media screen and (max-width: 767px) {
    .values {
        margin-top: 50px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.landing-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}
body {
    background-color: #0e2c33;
    font-family: Poppins, sans-serif;
    color: #faf5e7;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

h1 {
    display: inline-block;
    margin: 0px auto 60px;
    background-image: linear-gradient(135deg, #2af598, #009efd 50%, #2af598);
    font-size: 38px;
    line-height: 44px;
    font-weight: 700;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.3;
}

.page-padding {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.container-small {
    width: 100%;
    max-width: 60rem;
    margin-right: auto;
    margin-left: auto;
}

.section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    padding-top: 6rem;
    padding-bottom: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.faq-wrap {
    cursor: pointer;
}

.faq-question {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-column-gap: 16px;
    border-radius: 12px;
    background-color: #3b3b3b;
    font-size: 18px;
    font-weight: 600;
}

.faq-answer-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 95%;
    padding: 42px 20px 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-radius: 12px;
    background-image: linear-gradient(135deg, #4b9762, #46538b);
    -webkit-transform: translate(0px, -35px);
    -ms-transform: translate(0px, -35px);
    transform: translate(0px, -35px);
}

.faq-answer {
    overflow: hidden;
    margin-bottom: 0px;
    opacity: 0.8;
    /* mix-blend-mode: multiply; */
}

.toggle-icon {
    width: 28px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.faqs-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.faq-toggle {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-gap: 30px;
    -webkit-transform: translate(16px, 0px);
    -ms-transform: translate(16px, 0px);
    transform: translate(16px, 0px);
}

.faq-icon-wrap {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.plus-icon {
    width: 2px;
    height: 16px;
    background-color: #fff;
}

.minus-icon {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 2px;
    height: 16px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media screen and (max-width: 991px) {
    .page-padding {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    .toggle-icon {
        max-width: 32px;
    }

    .plus-icon {
        height: 16px;
    }

    .minus-icon {
        height: 16px;
    }
}

@media screen and (max-width: 767px) {
    .faq-answer-wrap {
        max-width: 92%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .faq-toggle {
        -webkit-transform: translate(12px, 0px);
        -ms-transform: translate(12px, 0px);
        transform: translate(12px, 0px);
    }
}

@media screen and (max-width: 479px) {
    .page-padding {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }

    .faq-question {
        padding: 12px;
        grid-column-gap: 12px;
        font-size: 15px;
    }

    .faq-answer-wrap {
        max-width: 92%;
        padding-bottom: 12px;
    }

    .faq-answer {
        font-size: 14px;
    }

    .faqs-container {
        max-width: 90%;
    }

    .faq-toggle {
        grid-column-gap: 20px;
    }
}
