nav {
    display: flex;
    align-items: center;
    background-color: #072f38;
    justify-content: space-around;
    padding: 0 1.75rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.32);
}

.alogo {
    background: #072f38;
}
.logo {
    padding-top: 7px;
    height: 60px;
    cursor: pointer;
}

.nav-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 28px;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    align-items: center;

    justify-content: flex-start;
}

.nav-list a {
    color: #faf5e7;
    background: none;
    text-decoration: none;
    margin-right: 0.5rem;
}

.nav-menu div {
    padding: 20px 2.5%;
    list-style: none;
    box-sizing: border-box;
    white-space: nowrap;
}

nav .login,
nav .h4,
nav .nav-list img {
    display: none;
}

.nav-name:hover {
    text-decoration: underline;

    text-decoration-color: #1789fc;

    text-underline-offset: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #65eb8f, #1789fc);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-sizing: border-box;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: aliceblue;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1300px) {
    .nav-menu {
        margin-right: 0;
    }

    .nav-list {
        align-items: stretch;
    }
}

@media screen and (max-width: 768px) {
    /* .login a {
        position: absolute;
    } */

    .h4,
    .nav-menu .nav-list img {
        display: block;
    }

    .h4 {
        color: #faf5e7;
        font-weight: bold;
    }

    .nav-list img {
        padding-right: 15px;
    }

    .login img {
        padding-right: 10px;
    }

    .login a {
        color: #faf5e7 !important;
        text-decoration: none !important;
        background: transparent;
    }

    nav .btn-primary {
        display: none;
    }

    body {
        overflow-x: hidden;
    }

    .nav-menu {
        padding: 60px 20px 0 30px;
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        background-color: #072f38;
        display: block;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-menu div:hover,
    .nav-menu div a:hover {
        background: none;
    }

    .nav-menu div {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    transform: translate(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translate(50px);
    }

    to {
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.btn-primary {
    padding: 3px 1.25rem;
    color: #faf5e7;
    background: linear-gradient(to right, #4b9762, #46538b);
    border-radius: 24px;
    border-color: transparent;
    position: relative;
    display: inline-block;
}

.btn-primary::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    z-index: -1;
    background: linear-gradient(to right, #64ea91, #4572ee);
    border-radius: 24px;
}

.btn-primary:hover {
    color: #faf5e7;
    background: linear-gradient(to right, #4b9762, #46538b);
    box-shadow: 0 0 25px #4b9762;
    border-color: transparent;
}

button {
    all: unset;
    padding-top: 5px;
    padding-bottom: 5px;
}

.usnm-drop {
    position: relative;
    display: inline-block;
}

.usnm-opt {
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 200;
    background-color: #243f45;
    border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.usnm-drop:hover .usnm-opt {
    display: block;
    width: 150px;
    overflow: hidden;
}

.usnm-opt a {
    display: block;
    padding: 5px;
    text-decoration: none;

    padding: 10px 20px;
    width: max-content;
}

.usnm-opt a:hover {
    display: block;
    background-color: #828782;
    border-radius: 5px;
    width: 100%;
}
