// color

// background color
$background-color: #072F38;

// team color
$team-color1: #FEFEFE;
$team-color2: #65EB8F;
$team-color3: #5AC2AF;
$team-color4: #509BCE;
$team-color5: #1789FC;

// color icon bulet anggota pas dipencet
$anggota-color-on: #fff;
$anggota-huruf-color-on: #08b7ee;
// color icon bulet anggota pas ga dipencet
$anggota-color-off: #08b7ee;
$anggota-huruf-color-on: #fff;

// form dashboard color
$form-dashboard-color: rgba(217,233,255,0.38);


// font family
$team-name: 'Roboto';
$h1: 'Poppins';
$paragraph: 'Poppins';

//font color confirm
$font-color-confirm-h1: #FEFEFE;
$font-color-confirm-p: #fff;

//font color payment
$font-color-payment-p: #65EB8F;